# Dependencies
node_modules/

# Data files (will be created on server)
data/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Environment variables
.env

# ngrok
ngrok
